body{
    background-image: url('abertura2.jpg');
    background-size: 100%;
    font-family:'Great Vibes';
   
}

.titulo{
    margin-top: -1%;
    text-align:center;
    font-size: 150px;
    color:#017a8a;
    text-shadow: black 2px 2px 2px;

}

#btn{
  
    padding: 10px 18px;
    color:#017a8a;
    text-align: center;
    
}


#btn-menu{
    margin-top: 20px;
    border-color: #017a8a;
    border-radius: 20px 20px 20px 20px;
    font-size: 30px;
    background-color:#5cc3ff00 ;
    color:#017a8a ;
    
}

#btn-menu:hover{ 
    color:  #017a8a;
    font-family:'Great Vibes';
    background-color: #3098dd52;
    border-radius: 20px 20px 20px 20px;
    border-color: #017a8a;
}
